.half-half {
    display: flex;
    background: #f5f7f9;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    @media #{$breakpoint-md-up} {
        flex-direction: row;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .content {
        width: 100%;
        @media #{$breakpoint-md-up} {
            width: 50%;
        }
        h2 {
            @media #{$breakpoint-md-up} {
                padding-right: 20%;
            }
        }
        .form {
          @media #{$breakpoint-md-up} {
            padding-right: 20%;
          }
        }
    }
    .image {
        width: 100%;
        height: 280px;
        margin-top: 40px;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          object-position: 50%;
        }
        iframe {
          height: 100%;
          width: 100%;
        }
        @media #{$breakpoint-md-up} {
            width: 50%;
            margin-top: 0;
            height: 65vh;
        }
    }
}
