.h1 {
  font-size: 36px;
  letter-spacing: -0.6px;
  font-weight: 300;
  @media #{$breakpoint-md-up} {
    font-size: 60px;
  }
}

.h2 {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  letter-spacing: -0.3px;
  @media #{$breakpoint-md-up} {
    font-size: 26px;
    line-height: 40px;
  }
}

// .h3 {
// }

.h4 {
  font-size: 12px;
  font-family: $font-secondary;
  text-transform: uppercase;
  margin: 0 0 7px 0;
  letter-spacing: 1px;
  &::after {
    content: "";
    width: 20px;
    height: 2px;
    background: $brand-secondary;
    display: block;
    margin-top: 8px;
    .text-light & {
      background: white;
    }
  }
}

// .h5 {
// }

// .h6 {

// }

// .p {
// }

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

// h3 {
//   @extend .h3;
// }

h4 {
  @extend .h4;
}

// h5 {
//   @extend .h5;
// }

// h6 {
//   @extend .h6;
// }

// p {
//   @extend .p;
// }

// ul, ol {
//   li {
//     @extend .p;
//   }
// }

// .h1, .h2, .h3, .h4, .h5, .h6 {
// }

h1, h2, h3, h4, h5, h6, p, ul li, ol li {
  font-weight: normal;
  a {
    transition: $link-animation;
    color: $brand-secondary;
    &:hover {
      color: $link-primary-hover;
    }
  }

  .text-light & {
    color: $color-white;
  }
}
