.h1 {
  font-size: 44px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  @media #{$breakpoint-md-up} {
    font-size: 80px;
  }
}

.h2 {
  font-size: 34px;
  line-height: 44px;
  margin: 0;
  @media #{$breakpoint-md-up} {
    font-size: 40px;
    line-height: 32px;
  }
}

.h3 {
  font-size: 23px;
  line-height: 34px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media #{$breakpoint-md-up} {
    font-size: 24px;
    line-height: 32px;
  }
}

.h4 {
  font-size: 23px;
  line-height: 34px;
  margin: 0 0 20px 0;
  @media #{$breakpoint-md-up} {
    font-size: 27px;
    line-height: 32px;
  }
}

.h5 {
  font-size: 12px;
  line-height: 30px;
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $brand-gold;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.h6 {
  font-size: 23px;
  line-height: 34px;
  margin: 0 0 20px 0;
  @media #{$breakpoint-md-up} {
    font-size: 27px;
    line-height: 32px;
  }
}

.p {
  font-size: 19px;
  line-height: 34px;
  margin: 0;
  @media #{$breakpoint-md-up} {
    font-size: 19px;
    line-height: 32px;
  }
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

h6 {
  @extend .h6;
}

p {
  @extend .p;
}

// ul, ol {
//   li {
//     @extend .p;
//   }
// }

// .h1, .h2, .h3, .h4, .h5, .h6 {
// }

h1, h2, h3, h4, h6, p, ul li, ol li {
  font-weight: normal;
  a {
    transition: $link-animation;
    color: $brand-secondary;
    &:hover {
      color: $link-primary-hover;
    }
  }

  .text-light & {
    color: $color-white;
  }
}
